body {
  text-align: center;
  /* choose a nicer font later */
  font-family: 'Georgia', serif;
  background: cornsilk;
  color: chocolate;
}

img {
  width: 200px;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px
  border: 2px solid #e1bebd
  border-radius: 5px;
  box-sizing: border-box;
  margin-top: 3px;
  margin-bottom: 3px;
  resize: vertical
  
}

.fcf-body {
    font-family: 'Georgia', serif;
}